{% extends 'accounts.html' %}
{% load static %}
{% load widget_tweaks %}

{% block content %}

<div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xxl-4 col-lg-5">
                <div class="card">
                    <!-- Logo -->
                    <div class="card-header py-2 text-center bg-primary">
    
                        <span><img width="200" src="{% static 'images/white.png' %}" alt="logo"></span>
  
                </div>

                    <div class="card-body p-4">
                        
                      {% if validlink %}
                      <div class="text-center my-5">
                        <h3 class="title text-center">Change password for {{ form.user }}</h3>
                        <form method="post" novalidate>
                          {% csrf_token %}
                          {% include 'includes/form.html' %}
                          <div class="text-center">
                            <button class="btn btn-primary mt-3 w-50" type="submit">Change Password</button>
                          </div>
                        </form>
                      </div>
                    {% else %}
                    <div class="text-center my-5">
                      <h3 class="card-title mb-3">Reset your password</h3>
                      <div class="alert alert-danger lead" role="alert">
                        It looks like you clicked on an invalid password reset link. Please try again.
                      </div>
                      <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Request a new password reset link</a>
                    </div>
                    {% endif %}

                    </div> <!-- end card-body-->
                </div>
                <!-- end card -->


            </div> <!-- end col -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>

{% endblock %}



{% block body %}
      {% if validlink %}
      <div class="container text-center my-5">
        <h1 class="title text-center">Change password for {{ form.user }}</h1>
        <form method="post" novalidate>
          {% csrf_token %}
          {% include 'includes/form.html' %}
          <div class="text-center">
            <button class="btn btn-primary mt-3 w-50" type="submit">Change Password</button>
          </div>
        </form>
      </div>
    {% else %}
    <div class="text-center container my-5">
      <h3 class="card-title mb-3">Reset your password</h3>
      <div class="alert alert-danger lead" role="alert">
        It looks like you clicked on an invalid password reset link. Please try again.
      </div>
      <a href="{% url 'password_reset' %}" class="btn btn-secondary btn-block">Request a new password reset link</a>
    </div>
    {% endif %}
{% endblock %}