{% extends 'base.html' %}
{% load static %}

{% block css %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link rel="stylesheet" href="{% static 'css/lenders.css' %}">
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">Lenders</h4>
                <button id="toggle_offcanvas" style="display: none;" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"></button>
            </div>
        </div>
    </div>
    <div class="card">
        <form method="get">
            <input type="hidden" id="lender-search-endpoint" value="{% url 'lenders_search' %}">
            <div class="card-body">
                <div class="row g-3">
                    <div class="col">
                        <label for="name" class="mr-1">Lender Name</label>
                        <input type="text" name="name" id="name" class="form-control" placeholder="Lender Name"
                            value="{{ request.GET.name }}">
                    </div>
                    <div class="form-group col">
                        <label for="loan_amount" class="mr-1">Loan Amount</label>
                        <input type="number" name="loan_amount" id="loan_amount" class="form-control"
                            placeholder="Loan Amount" value="{{ request.GET.loan_amount }}">
                    </div>
                    <div class="form-group col">
                        <label for="state" class="mr-1">States</label>
                        <select class="form-control" name="state" id="state">
                            <option value="" {% if not request.GET.state %}selected{% endif %}>Select State</option>
                            {% for state in states %}
                            <option value="{{ state }}" {% if request.GET.state == state %}selected{% endif %}>
                                {{ state }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group col">
                        <label for="property_type" class="mr-1">Property Type</label>
                        <select class="form-control" name="property_type" id="property_type">
                            <option value="" {% if not request.GET.property_type %}selected{% endif %}>Select Property
                                Type</option>
                            {% for key, value in property_types %}
                            <option value="{{ key }}"
                                {% if request.GET.property_type == key %}selected{% endif %}>{{ value }}
                            </option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </form>


    </div>
    <div class="row">
        <div class="col-12 col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-start align-items-center">
                        <button id="select-all-btn" type="button" class="btn btn-primary me-2">Select All</button>
                            <button id="create-outreach-btn" type="button" class="btn btn-primary me-2">Outreach Selected</button>
                        <button type="button" class="btn btn-success me-auto" data-bs-toggle="modal"
                            data-bs-target="#add-new-modal">Add New</button>
                    </div>
                    <div id="lenders-table">

                        {% include 'includes/lenders-table.html' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% include 'includes/add-lender-modal.html' %}
{% include 'includes/lender-offcanvas.html' %}
{% include 'includes/create-outreach-modal.html' %}
{% endblock %}



{% block js %}
<script src="{% static 'js/lenders.js' %}"></script>

{% endblock %}