{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">Outreach Detail</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class=""><a href="{% url 'tracker-detail' prospect.pk %}">{{ prospect.name }}</a></h3>
                        <!-- project title-->
                        <div class="badge badge-lg text-bg-{{ prospect.get_progress_class }}">
                            {{ prospect.get_status_display }}</div>
                    </div>

                        <div>
                            <h5>Address</h5>
                            {{ prospect.address.get_address|linebreaks }}
                        </div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-4">
                                <h5>Property Type</h5>
                                <p>{{ prospect.get_property_type_display }}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-4">
                                <h5>Purpose Type</h5>
                                <p>{{ prospect.get_purpose_display }}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-4">
                                <h5>Amount</h5>
                                <p>${{ prospect.amount }}</p>
                            </div>
                        </div>
                    </div>

                </div> <!-- end card-body-->

            </div> <!-- end card-->
            <div class="card">
                <div class="d-flex card-header justify-content-between align-items-center">
                    <h4 class="header-title">Email Info</h4>
                </div>
                <div class="card-body">
                    <div class="row">

                        <div class="mb-3">
                            <label for="">Email Subject</label>
                            <input id="subject" required name="subject" type="text" placeholder="Email Subject" class="form-control" value="{{ outreach.email_subject }}">
                        </div>
                        <div class="mb-3">
                            <label for="">Email Property Image</label>
                            <select required id="property-image" class="form-select form-control" name="property-image">
                                <option value="">Choose Email Property Image</option>
                                {% for image in outreach.get_image_document_type.documents.all %}
                                <option {% if outreach.email_image.pk == image.pk %}selected{% endif %} value="{{ image.pk }}">{{ image.name }} - {{ image.get_status_display }}</option>
                                {% endfor %}
                            </select>
    
                        </div>
                        <div class="mb-3">
                            <div class="d-flex align-items-center justify-content-between">
                                <h5>Email Content</h5>
                                <a id="gen-smart-email" href="{% url 'generate_smart_outreach' outreach.pk %}" class="btn btn-sm btn-primary my-1">Generate Smart Email</a>
                            </div>
                        {% if outreach.email_content %}
                                <textarea id="email-content" rows="20" name="email_content" class="w-100 form-control">{{ outreach.email_content|safe }}</textarea>
                        {% else %}
                        {% if outreach.openai_outreach_time_start %}
                        <p id="loading" class="placeholder-glow">
                            <span class="placeholder col-12"></span>
                            <span class="placeholder col-12"></span>
                            <span class="placeholder col-12"></span>
                            <span class="placeholder col-4"></span>
                        </p>
                        {% else %}
                        <div class="text-center text-muted">Please generate a smart email.</div>
                        {% endif %}
                        {% endif %}
                    </div>
                    <div class="mb-3">
                        <label for="">Schedule call URL (optional)</label>
                        <input value="{{ outreach.schedule_call_url|default_if_none:'' }}" id="schedule-call-url" name="schedule-call-url" type="url" placeholder="URL to schedule a call, eg: Calendy link" class="form-control">
                    </div>
                    <div class="mb-3">
                        <div class="row">
                            <div class="col-6">
                                <button id="save-outreach-btn" class="btn btn-success w-100">Save Email</button>

                            </div>
                            <div class="col-6">
                                <button id="send-outreach-btn" class="btn btn-primary w-100">Send Emails <i class="mdi mdi-airplane ms-1"></i></button>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="d-flex card-header justify-content-between align-items-center">
                    <h4 class="header-title">Lender List</h4>
                </div>
                <div class="card-body pt-0">
                    <div class="float-end text-muted">
                    {% if outreach.email_sent_start %}
                    <div>Email sequences started at {{ outreach.email_sent_start }}</div>
                    {% endif %}
                    {% if outreach.email_sent_start %}
                    <div>Email sequences finished at {{ outreach.email_sent_end }}</div>
                    {% endif %}
                    </div>
                
                </div>
                    <div class="table-responsive">
                        <table class="table table-centered table-nowrap table-hover mb-0">
                            <tbody>
                                {% for lender in outreach.lenders.all %}
                                <tr>
                                    <td>
                                        <h5 class="font-14 my-1 fw-normal">{{ lender.title }}</h5>
                                        <span class="text-muted font-13">Originator</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1 fw-normal">{{ lender.data.contact_name }}</h5>
                                        <span class="text-muted font-13">Name</span>
                                    </td>
                                    <td>
                                        <h5 class="font-14 my-1 fw-normal">{{ lender.data.contact_email }}</h5>
                                        <span class="text-muted font-13">Email</span>
                                    </td>
                                    <td class="table-action">
                                        <a href="{% url 'edit_lender' lender.pk %}" class="action-icon"> <i class="mdi mdi-pencil"></i></a>
                                        <a href="{% url 'remove_lender' outreach.pk lender.pk %}" class="action-icon"> <i class="mdi mdi-delete"></i></a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div> <!-- end table-responsive-->
                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->

        <!-- end col -->

    </div>
</div>
{% include 'market/send-outreach-modal.html' %}
{% endblock %}

{% block js %}
<script>
let loading = document.getElementById("loading");
if (loading) {
    console.log("loading");
    var refreshInterval = 10000; // 5 seconds
    setTimeout(function() {
        window.location.reload();
    }, refreshInterval);

} else {
    console.log("not loading");
}

</script>
<script>
    function saveOutreach(callback) {
        let saveEndpoint = `{% url 'save_outreach' outreach.pk %}`;
        let email_content = document.getElementById("email-content");
        console.log(email_content)
        if(!email_content){
            document.getElementById("gen-smart-email").focus()
            return alert("Please generate an email first.")
        }
        let formData = new FormData();
        formData.append('email-subject', document.getElementById('subject').value);
        formData.append('email-content', email_content.value);
        formData.append("schedule-call-url", document.getElementById("schedule-call-url").value);
        formData.append("property-image", document.getElementById("property-image").value); // Assuming it's a file input
        
        fetch(saveEndpoint, {
            method: 'POST',
            headers: {
                    "X-CSRFToken": getCookie('csrftoken'),
                },
            body: formData
        })
        .then(response => {
            console.log('Save Outreach Response:', response);
            let btn = document.getElementById('save-outreach-btn')
            btn.innerHTML = 'Email Saved!';
            setTimeout(function() {
                btn.innerHTML = 'Save Email!';
            }, 3000);

            if (callback) {
                callback(); // Call the callback function if provided
            }
        })
        .catch(error => {
            console.error('Error saving outreach:', error);
        });
    }
    
    document.getElementById('send-outreach-btn').addEventListener('click', function(e) {
        e.preventDefault();
        saveOutreach(function() {
            let previewEndpoint = `{% url 'view_outreach_preview' outreach.pk %}`;
            fetchEmailPreview(previewEndpoint); 
        });
    });
    
    // For another button that just saves without fetching the preview
    document.getElementById('save-outreach-btn').addEventListener('click', function(e) {
        e.preventDefault();
        saveOutreach(); // Just save without passing a callback
    });
    
    // Function to fetch email preview
    function fetchEmailPreview(endpoint) {
        fetch(endpoint)
        .then(response => response.json())
        .then(data => {
            let modalBody = document.getElementById('email-preview');
            modalBody.innerHTML = data.html;
            var myModal = new bootstrap.Modal(document.getElementById('send-outreach-modal'));
            myModal.show(); 
        })
        .catch(error => {
            console.error('Error fetching email preview:', error);
        });
    }
    

</script>
{% endblock %}