{% load static %}

{% block css %}
<style>
    .dropzones {
        border: 2px dashed var(--ct-border-color);
        background: var(--ct-input-bg-custom);
        border-radius: 6px;
        cursor: pointer;
        min-height: 150px;
        padding: 20px
    }

    .dropzones .dz-message {
        text-align: center;
        margin: 2rem 0
    }

    .dropzones.dz-started .dz-message {
        display: none
    }
</style>
{% endblock %}
                                             
<!-- File Upload -->
<form enctype="multipart/form-data" action="{% url 'upload-document' %}" method="post" class="dropzone" id="fileDropzone" data-plugin="dropzone" data-previews-container="#file-previews"
    data-upload-preview-template="#uploadPreviewTemplate">{% csrf_token %}
    <div class="fallback">
        <input name="file" type="file" multiple />
    </div>

    <div class="dz-message needsclick">
        <i class="h1 text-muted ri-upload-cloud-2-line"></i>
        <h3>Drop files here or click to upload.</h3>
        <!-- <span class="text-muted font-13">(This is just a demo dropzone. Selected files are
            <strong>not</strong> actually uploaded.)</span> -->
    </div>
</form>

<!-- Preview -->
<div class="dropzone-previews mt-3" id="file-previews"></div>
