<h2 id="offcanvas-title" class="text-center">{{ lender.title }}</h2>
<h6>{{ lender.data.types }}</h6>
<div class="text-center mb-2">Notes: {{ lender.notes.all.count }}</div>
<div class="d-flex mb-3">
    <a style="width: 33%;" href="#" onclick="scrollToAddNote()" class="btn btn-success">
        Add Note
    </a>
    <a href="{% url 'edit_lender' lender.pk %}" style="width: 33%;" class="btn btn-primary mx-2">
            Edit
    </a>
     <a href="{% url 'delete_lender' lender.pk %}" onclick="return confirm('Are you sure you want to delete this lender?')" class="btn btn-danger" style="width: 33%;">
        Delete
    </a>
</div>
<hr>

<div>
    <h4>Contact Name</h4>
    <div id="contact-details">{{ lender.data.contact_name }}</div>
</div>
<hr>
<div>
    <h4>Contact Email</h4>
    <div id="contact-details">{{ lender.data.contact_email }}</div>
</div>
<hr>
<div>
    <h4>Max Loan</h4>
    <div id="max-loan">{{ lender.data.max_loan }}</div>
</div>
<hr>
<div>
    <h4>Min Loan</h4>
    <div id="min-loan">{{ lender.data.min_loan }}</div>
</div>
<hr>
<div>
    <h4>Max LTV</h4>
    <div id="max-ltv">{{ lender.data.max_ltv }}</div>
</div>
<hr>
<div>
    <h4>Property Types</h4>
    <div id="lender-property-types">{{ lender.display_property_types }}</div>

</div>
<hr>
<div>
    <h4>States</h4>
    <div id="lender-states">{{ lender.data.states|join:", " }}</div>
</div>
<hr>
<div>
    <h4>Notes</h4>
    {% for note in lender.notes.all %}
    <div class="card mb-3">
        <div class="text-muted card-header d-flex justify-content-between p-2">
            <span>{{ note.user.email }}</span>
            <span>{{ note.created_at|date:"F j, Y" }}</span>
        </div>
        <div class="card-body p-2">
            <div class="card-text mb-0">{{ note.text|linebreaks }}</div>
            {% if note.file %}
                <a href="{{ note.file.url }}" class="link text-end ms-auto" download>Download File</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    <hr>
    <h4>Add Note</h4>
    <form id="add-note-section" method="POST" action="{% url 'add_note' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">
            <div class="mb-3">
                <label for="noteText" class="form-label">Note Text</label>
                <textarea class="form-control" id="noteText" name="noteText" required></textarea>
            </div>
            <div class="mb-3">
                <label for="noteFile" class="form-label">Note File (optional)</label>
                <input class="form-control" type="file" id="noteFile" name="noteFile">
            </div>
        </div>
        <input type="hidden" name="lender_pk" value="{{ lender.pk }}">
        <div class="modal-footer">
            <button type="submit" class="btn btn-success w-100">Add Note</button>
        </div>
    </form>
</div>



