
{% if page_obj.has_other_pages %}
<nav class="my-2">
    <ul class="pagination pagination-rounded mb-0 justify-content-end">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% endif %}
        {% for i in page_obj.paginator.page_range %}

        {% if page_obj.number == i %}
          <li class="active page-item"><span class="page-link">{{ i }}</span></li>
          {% elif i > page_obj.number|add:'-5' and i < page_obj.number|add:'5' %}
          <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
    
        {% endfor %}

        {% if page_obj.has_next %}
        <li><a class="page-link page-last" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a></li>
      {% else %}
      {% endif %}

    </ul>
</nav>
{% endif %}