                                                    <div id="send-client-feedback-modal" class="modal fade"
                                                        tabindex="-1" role="dialog" aria-labelledby="send-to-modalLabel"
                                                        aria-hidden="true">
                                                        <div class="modal-dialog modal-lg">
                                                            <div class="modal-content">
                                                                <div class="modal-header">
                                                                    <h4 class="modal-title" id="send-to-modalLabel">Send
                                                                        Client Feedback</h4>
                                                                    <button type="button" class="btn-close"
                                                                        data-bs-dismiss="modal"
                                                                        aria-hidden="true"></button>
                                                                </div>
                                                                <form method="POST"
                                                                    action="{% url 'send_client_feedback' %}">
                                                                    {% csrf_token %}
                                                                    <div class="modal-body">
                                                                        <div class="row">
                                                                            
                                                                        <label for="">AI Feedback Reference</label>
                                                                        <div id="document-feedback">{{ document.feedback }}</div>
                                                                        <div class="">
                                                                            <label for="example-textarea"
                                                                                class="form-label">Client
                                                                                Feedback</label>
                                                                            <textarea name="feedback"
                                                                                placeholder="This will be displayed in the client portal."
                                                                                class="form-control"
                                                                                id="client_feedback"
                                                                                rows="5"></textarea>
                                                                        </div>
                                                                        <input id="client_feedback_document_uid"
                                                                            type="hidden" name="document_uid" value="">
                                                                            <div class="my-3">
                                                                                <div class="row">
                                                                                    <!-- Approve Button -->
                                                                                    <div class="col-sm-6 mb-2 mb-sm-0">
                                                                                        <button type="submit" name="action" value="approve" class="btn btn-success w-100">Approve</button>
                                                                                    </div>
                                                                            
                                                                                    <!-- Reject Button -->
                                                                                    <div class="col-sm-6">
                                                                                        <button type="submit" name="action" value="reject" class="btn btn-danger w-100">Reject</button>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                </form>
                                                            </div><!-- /.modal-content -->
                                                        </div><!-- /.modal-dialog -->
                                                    </div><!-- /.modal -->