{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/tracker.css' %}">

{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">Tracker Details</h4>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <!-- project card -->
            <div class="card d-block">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center mb-2">
                        <h3 class="mt-0">{{ prospect.name }}</h3>
                        <!-- project title-->
                    </div>
                    <div class="badge badge-lg text-bg-{{ prospect.get_progress_class }} mb-3">
                        {{ prospect.get_status_display }}</div>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-4">
                                <h5>Property Type</h5>
                                <p>{{ prospect.get_property_type_display }}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-4">
                                <h5>Purpose Type</h5>
                                <p>{{ prospect.get_purpose_display }}</p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="mb-4">
                                <h5>Amount</h5>
                                <p>${{ prospect.amount }}</p>
                            </div>
                        </div>
                    </div>

                    <div id="tooltip-container">
                        <h5>Sent To:</h5>
                        <div class="d-flex align-items-center">
                            <div>
                                {% for user in prospect.users.all %}
                                    {% if forloop.last %}
                                    <a class="remove-user" href="{% url 'remove-user' %}?prospect_uid={{ prospect.uid }}&target_user_pk={{ user.pk }}">{{ user.email}}</a>
                                    {% else %}
                                    <a class="remove-user" href="{% url 'remove-user' %}?prospect_uid={{ prospect.uid }}&target_user_pk={{ user.pk }}">{{ user.email}}, </a>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <div class="ms-auto">
                                <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#send-to-modal">Add Users</button>
                            </div>
                        </div>
                    </div>

                </div> <!-- end card-body-->

            </div> <!-- end card-->

            <!-- end card-->
        </div>
    </div>
    <!-- <div class="row justify-content-center">
        <div class="col-lg-7 col-md-10 col-sm-11">

            <div class="horizontal-steps mt-4 mb-4 pb-5" id="tooltip-container">
                <div class="horizontal-steps-content">
                    <div class="step-item {% if object.status == 'draft' %}current{% endif %}">
                        <span>Draft</span>
                    </div>
                    <div class="step-item {% if object.status == 'in-progress' %}current{% endif %}">
                        <span>In Progress</span>
                    </div>
                    <div class="step-item {% if object.status == 'correcting' %}current{% endif %}">
                        <span>Correcting</span>
                    </div>
                    <div class="step-item {% if object.status == 'completed' %}current{% endif %}">
                        <span>Completed</span>
                    </div>
                </div>

                <div class="process-line" style="width: {{ object.get_progress_percentage }}%;"></div>
            </div>
        </div>
    </div> -->

    <div class="row">
        <div class="col-xxl-8 col-xl-7">
            <div class="card d-block">
                    <div class="card-body">
                        <div class="d-flex card-header justify-content-between align-items-center">
                            <h4 class="header-title">{{ current_document_type.type }}</h4>
                            <div class="dropdown">
                                <div class="badge badge-lg text-bg-{{ current_document_type.get_status_class }}">
                                    {{ current_document_type.get_status_display }}
                                </div>
                            </div>
                            
                            
                        </div>
 
                        
                        <div endpoint="{% url 'poll_openai_document_check' %}" id="document-upload">
                        {% include 'includes/document-upload.html' %}
                    </div>
                    <div style="display: none;" id="document-loading">
                        <div class="d-flex justify-content-center align-items-center my-5 flex-column">
                            <div class="spinner-border avatar-md" role="status"></div>
                            <div class="fw-bold mt-2" id="document-loading-text">Uploading file. Do not reload page!</div>
                        </div>
                    </div>

                    <div>
                        {% for document in current_document_type.documents.all %}
                        <!-- file preview template -->
                        <div document_pk="{{ document.pk }}" class="document" checked="{{ document.file_checked }}" id="uploadPreviewTemplate">
                            <div class="card mt-1 mb-0 shadow-none border">
                                <div class="p-2">
                                    <div class="row align-items-center">
                                        <div id="document-status" class="col-auto">
                                            {% if document.status == 'approved' %}
                                            <div class="avatar-sm d-table">
                                                <span class="avatar-title bg-success-lighten rounded-circle text-success">
                                                    <i class="uil uil-check font-24"></i>
                                                </span>
                                            </div>
                                            {% elif document.status == 'revising' %}
                                            <div class="avatar-sm d-table">
                                                <span class="avatar-title bg-info-lighten rounded-circle text-info">
                                                    <i class="mdi mdi-exclamation-thick font-24"></i>
                                                </span>
                                            </div>
                                            {% elif document.status == 'rejected' %}
                                            <div class="avatar-sm d-table">
                                                <span class="avatar-title bg-danger-lighten rounded-circle text-danger">
                                                    <i class="uil uil-times font-24"></i>
                                                </span>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div id="document-loading" class="col-auto" style="display: none;">
                                            <div class="d-flex justify-content-center">
                                                <div class="spinner-border text-primary" role="status"></div>
                                                </div>
                                            </div>
                                        <div class="col ps-0">
                                            <a href="{% url 'download-document' %}?document_uid={{ document.uid }}" class="text-muted fw-bold" data-dz-name>{{ document.name }}</a>
                                            <span class="mdi mdi-download"></span>
                                        </div>
                                        <div class="col-auto">
                                            <!-- Button -->
                                            <a onclick="return confirm('Are you sure you want to delete this?')" id="delete-document-link" href="{% url 'delete-document' document.uid %}" class="btn btn-link btn-lg text-muted" data-dz-remove>
                                                <i class="ri-close-line"></i>
                                            </a>
                                        </div>
                                        
                                    </div>
                                    <div class="d-flex flex-column">
                                    <div style="display: none;" id="loading-warning" class="text-muted" id="">Do not leave page while file is being analyzed.</div>
                                {% if document.client_feedback %}
                                <h6 class="mb-0">Client Feedback</h6>
                                    <div class="my-1 text-muted">{{ document.client_feedback|safe }}</div>
                                    {% endif %}
                                    {% if document.status == 'rejected' %}
                                    <div class="mb-1">
                                        <a onclick="return confirm('Are you sure you want to override this?')" href="{% url 'override-document-check' document.uid %}" class="fw-bold float-end">Disagree?</a>
                                    </div>
                                    {% endif %}
                                    {% if document.overridden %}
                                    <div class="mb-1">
                                    <div class="float-end fw-bold mt-1">Approved by user</div>
                                    </div>
                                    {% endif %}
                    
                            </div>
                                    
                                </div>
                                
                            </div>
                        </div>
                        {% endfor %}
                    </div>  
                </div>
            </div> <!-- end card-->

            <!-- end card-->
        </div> <!-- end col -->

        <div class="col-xxl-4 col-xl-5">

            <div class="card">
                <div class="card-body">
                    <h4 class="header-title">Documents</h4>
                    <div class="list-group list-group-flush">
                        {% for document_type in prospect.document_types.all %}
                        <a href="{% url 'tracker-detail' prospect.pk document_type.pk %}" class="position-relative document_type list-group-item d-flex justify-content-between align-items-center {% if current_document_type == document_type %}active{% endif %}">
                            {{ document_type.type }}
                            {% if document_type.status == 'not_uploaded' %}
                            <span class="badge bg-secondary">Awaiting</span>
                            {% elif document_type.status == 'pending' %}
                            <span class="badge bg-info">Pending</span>
                            {% elif document_type.status == 'revising' %}
                            <span class="badge bg-warning">Revising</span>
                            {% elif document_type.status == 'approved' %}
                            <span class="badge bg-success">Approved</span>
                            {% elif document_type.status == 'rejected' %}
                            <span class="badge bg-danger">Rejected</span>
                            {% endif %}

                            {% if document_type.client_notifications %}
                            <span class="position-absolute top-50 start-100 translate-middle p-1 bg-danger border rounded-circle"></span>
                            {% endif %}
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

{% include 'includes/send-to-user-modal.html' %}
{% include 'includes/send-client-feedback-modal.html' %}

{% endblock %}

{% block js %}
<script>
    let active_document_type = null;
    let document_type_btns = document.getElementsByClassName("document_type")
    for(let i = 0; i < document_type_btns.length; i++){
        document_type_btns.addEventListener("click", )
    }

</script>
<script src="{% static 'js/upload-document.js' %}"></script>
<script src="{% static 'js/dropzone.js' %}"></script>
<script src="{% static 'js/component.fileupload.js' %}"></script>
<script>
    var uploads = document.getElementsByClassName("uploads")
    for(let i = 0; i < uploads.length; i++){
        uploads[i].addEventListener("change", function(){
                console.log("submitting....")
                uploads[i].submit();
        })
    }
</script>
<script>
    var dropzones = document.getElementsByClassName("dropzone");
    console.log(dropzones);

    for (let i = 0; i < dropzones.length; i++) {
        console.log("Initializing Dropzone");

        let dropzone = new Dropzone(dropzones[i], {
        addedfile: file => {
            console.log(file);
        },
        test: dropzones[i].getAttribute("document_type_pk"),
        acceptedFiles: "application/pdf, application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, text/csv"
         });


        dropzone.on("sending", function(file, xhr, formData) {
            document.getElementById("document-upload").style.display = "none";
            document.getElementById("document-loading").style.display = "block";
            formData.append("document_type_pk", "{{ current_document_type.pk }}");
        
        });
        dropzone.on("success", function(file, response) {
        // Refresh the page
            console.log(file);
            console.log(response)
            if(response.status == "success"){
                // document.getElementById("document-loading-text").innerHTML = "Analyzing file...";
                // file_check(response.document_pk);
            }
        });
        console.log("Dropzone initialized: ", dropzone);
    }
</script>

<script src="{% static 'js/ai-feedback.js' %}"></script>

<script>
let send_client_feedback_btns = document.getElementsByClassName("send-client-feedback");
for(let i = 0; i < send_client_feedback_btns.length; i++){
    send_client_feedback_btns[i].addEventListener("click", function(e){
        document.getElementById("client_feedback_document_uid").value = send_client_feedback_btns[i].getAttribute("document_uid")
        document.getElementById("document-feedback").innerHTML = send_client_feedback_btns[i].getAttribute("ai-feedback")
        var myModal = new bootstrap.Modal(document.getElementById('send-client-feedback-modal'));
        myModal.show(); 
    })
}
</script>
{% endblock %}